.card-img-top-200 {
    overflow: hidden;
    max-height: 200px;
}

.card-body>h3>a {
    font-size: 25px;
    font-family: Roboto;
    font-weight: 500;
    color: gray;
}

.card-body>h3>a:hover {
    color: #21963a;

}

.col-lg-12>h2 {
    text-transform: uppercase;
    font-family: roboto;
    font-weight: 700;
    font-size: 30px;
}